/* Reset CSS
* --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0}
a{text-decoration:none}
table{border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
strong{font-weight:bold}
ol,ul{list-style:none;margin:0;padding:0}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;margin:0;padding:0}
q:before,q:after{content:''}
abbr,acronym { border:0}
textarea,select,input[type="text"],input[type="button"],input[type="submit"]{-webkit-appearance:none;border-radius:0}
/* --------------------------------------- */

body{font-family:'Lato', sans-serif;font-size:16px;color:#6f6f6f}
.header{background:#ffffff;width:100%;display:inline-block;height:54px}
.content{background:#f3f3f3;width:100%;display:inline-block;text-align:center}
.page{width:100%;display:none;height:inherit;position:relative}/*max-width:1500px;*/
.cols{float:left;display:inline;width:280px}
.page h1{width:100%;padding:1em 0;font-size:30px;font-weight:lighter}
.page h2{width:100%;padding:0 0 1em;font-size:22px;font-weight:lighter}
.pageActive{display:inline-block}
.wrapPage{width:80%;margin:0 auto;max-width:800px;top:50%;position:absolute;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}/*background:rgba(0, 128, 0, 0.15);*/
.wrapPage h1{padding-top:0}
.btnActionWrap{position:absolute;left:50%;bottom:34px;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}
.btnAction{margin:0 20px;text-transform:uppercase;font-size:14px;width:120px;padding:12px 0px;color:#6f6f6f; background:url('../images/btnaction_bg.gif') no-repeat center top, url('../images/btnaction_bg.gif') no-repeat center bottom}
#modal{position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(56, 56, 56, 0.69);z-index:10000;display:none}
.contentModal{position:absolute;width:70%;max-width:500px;background:#fff;top:50%;left:50%;margin:0;padding:30px;text-align:center;font-size:17px;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.btn{background:#000;padding:10px 20px;display:inline-block;margin-top:18px;text-transform:uppercase;color:#fff;font-size:14px;}
.addBtn{position:relative;width:93%;display:inline-block;text-align:left;padding:3%;border:1px solid #adadad;background:#fff;color:#585858}

/* BRIGTH LINE */

	/* PAGE SELCT LINE */
	.page a.disabled{pointer-events:none;cursor:default;opacity:0.4}
	ul.selectLine{display:inline-block;}
	ul.selectLine li{display:inline-block;margin:6px 6px;}
	ul.selectLine li a{background:#ffffff;display:inline-block;width:180px;height:180px;border:3px solid #bbbbbb;text-transform:uppercase;color:#484848;font-size:13px;}
	ul.selectLine li a::before{content:"";width:150px;height:130px;background:#FFFFFF url(../images/brightline_Line.gif) no-repeat center;display:inline-block;margin:14px auto 6px;background-size:100%;}
	ul.selectLine li.item_03 a::before{background-image:url('../images/Line_blackfoster.gif')}
	ul.selectLine li.item_01 a::before{background-image:url('../images/Line_Fifty.gif')}
	/* END PAGE SELCT LINE */

	/* PAGE START */
	#page_start_brightline h1{padding-bottom:0.2em}
	#page_start_brightline h2{font-size:14px}
	/* END PAGE START */

	/* PAGE INTRO */
	.introText p{text-transform:uppercase;}
	.introText p span{text-transform:lowercase;display:block}
	.introText .openBrochure{margin-top:20px;text-transform:uppercase;color:#6f6f6f;display:inline-block;}
	/* END PAGE INTRO */

	/* PAGE SELECT SURFACE */
	#page_selectSurface_brightline h1{padding-bottom:0.3em}
	#page_selectSurface_brightline ul.selectSurfacesGroup{display:inline-block;width:100%;background:url('../images/line.gif') repeat-x 0 bottom}
	#page_selectSurface_brightline ul.selectSurfacesGroup li{margin:0 3px;display:inline-block;width:30%;background:#e4e4e4;border:1px solid #d6d6d6;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;border-top-left-radius:10px;border-top-right-radius:10px;}
	#page_selectSurface_brightline ul.selectSurfacesGroup li a{color:#ababab;text-transform:uppercase;display:inline-block;display:inline-block;width:100%;padding:10px 0;font-size:13px}
	#page_selectSurface_brightline ul.selectSurfacesGroup li.active{background:#f3f3f3;border-bottom-color:#f3f3f3;}
	#page_selectSurface_brightline ul.selectSurfacesGroup li.active a{color:#4a4a4a}
	#page_selectSurface_brightline fieldset legend{display:none}
	#page_selectSurface_brightline label input{display:none}
	#page_selectSurface_brightline fieldset{display:none;width:100%;margin-top:40px}
	#page_selectSurface_brightline label{border:2px solid transparent;display:inline-block;width:120px;height:100px;position:relative;cursor:pointer}
	#page_selectSurface_brightline label.active{border-color:#c1c1c1;background:#ffffff}
	#page_selectSurface_brightline label span{background-size:cover;position:absolute;left:10px;top:13px;width:100px;height:74px;text-indent:-9999px;background:url('../images/wall_singleF.svg?v=3')no-repeat center}
	#page_selectSurface_brightline label.surface_02 span{background-image:url('../images/wall_singleT.svg?v=3')}
	#page_selectSurface_brightline label.surface_03 span{background-image:url('../images/wall_multiFT.svg?v=3')}
	#page_selectSurface_brightline label.surface_04 span{background-image:url('../images/wall_multiIF.svg?v=3')}
	#page_selectSurface_brightline label.surface_05 span{background-image:url('../images/wall_multiFD.svg?v=3')}
	#page_selectSurface_brightline label.surface_06 span{background-image:url('../images/wall_multiIT.svg?v=3')}
	#page_selectSurface_brightline label.surface_07 span{background-image:url('../images/wall_multiDT.svg?v=3')}
	#page_selectSurface_brightline label.surface_08 span{background-image:url('../images/wall_multiID.svg?v=3')}
	#page_selectSurface_brightline label.surface_09 span{background-image:url('../images/wall_multiIFT.svg?v=3')}
	#page_selectSurface_brightline label.surface_10 span{background-image:url('../images/wall_multiFDT.svg?v=3')}
	#page_selectSurface_brightline label.surface_11 span{background-image:url('../images/wall_multiIFD.svg?v=3')}
	#page_selectSurface_brightline fieldset.active{display:inline-block}
	#page_selectSurface_brightline fieldset.disabled label{opacity:0.3;cursor:default;}
	/* END PAGE SELECT SURFACE */

/* END BRIGTH LINE */

/* BLACK FOSTER */
	.familyGroup form label{display:block;max-width:230px;margin:0 auto 9px;text-align:left}
	.familyGroup form label input{margin-right:10px}
	.familyGroup form {display:inline-block;grid-column:1;margin:0 auto}
	.familyGroup .selectByList h2{border-bottom:1px solid #b3b3b3;width:50%;margin:0 25%;padding-bottom:0.4em;margin-bottom:1em;}
/* END BLACK FOSTER */

/* FIFTY */
	body#fifty ul.selectLine li.item_01 a::before{background-image: url('../images/fifty_wall.gif')}
	body#fifty ul.selectLine li.item_02 a::before{background-image: url('../images/fifty_trimless.gif')}
	body#fifty ul.selectLine li.item_03 a::before{background-image: url('../images/fifty_suspension.gif')}
	body#fifty ul.selectLine li.item_04 a::before{background-image: url('../images/fifty_surface.gif')}
	body#fifty ul.selectLine li.item_05 a::before{background-image: url('../images/fifty_recessed.gif')}
	body#fifty #page_start_fifty.menuType h1{padding-bottom:0}
/* END FIFTY */

/* SIMULATOR */
#page_simulator #col_01{padding:0 30px;width:220px;background:url(../images/line.gif) repeat-y right 0}
#page_simulator #col_01 fieldset{margin:10px 0 0;width:100%;border-bottom:1px solid darkgrey;padding:20px 0 10px;position:relative}
#page_simulator #col_01 fieldset legend{float:left;width:100%;margin-bottom:9px;text-align:left;font-size:10px;text-transform:uppercase;}
#page_simulator #col_01 fieldset .slider-container{width:140px;float:left;position:relative;top:11px}
#page_simulator #col_01 fieldset.disabled{opacity:0.3}
#page_simulator #col_03{text-align:left;background:url(../images/line.gif) repeat-y left 0;float:right;width:220px;padding:0 30px}
#page_simulator #col_02 .wrapSimulator{position:relative;margin:50px 0 74px;display:inline-block;width:88%;max-width:840px}
#page_simulator #col_02{width:60%;width:-webkit-calc(100% - 560px);width:-moz-calc(100% - 560px);width:calc(100% - 560px)}
#page_simulator .firstElement{margin-top:26px}
#simulator{box-sizing:border-box;border:3px solid transparent;margin:25px 0;width:100%;height:69vh;min-height:470px;position:relative;overflow:hidden;background:#ffffff}
.surface{float:left;display:none;min-width:100px;min-height:100px;-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top}
.surface.active{display:inline-block}
.wrap{position:absolute;top:0px;left:0px;margin:40px;display:inline;border:1px solid gainsboro;float:left;}
.draggable .wrap{cursor:all-scroll}
a.addBtn::after{content:"+";font-weight:bold;font-size:120%;position:absolute;right:13px;top:6px}
a.add_component{width:93%}
#page_simulator #col_03 h2{text-transform:uppercase;margin:20px 0}
#page_simulator #col_03 h3{padding-bottom:13px;border-bottom:1px solid #b5b5b5;margin:20px 0 10px;font-weight:bold}
#simulator .legend{display:none;min-width:1px;background:url(../images/line.gif) repeat-x center, url(../images/line.gif) repeat-y top left, url(../images/line.gif) repeat-y top right;width:40px;height:16px;position:absolute;top:-28px;left:0}
#simulator .legend span{font-size:12px;background:white;display:inline-block;position:relative;top:-5px;padding:0 4px}
#simulator .legend.mini span{position:absolute;right:-5.5em;top:0;text-align:left;padding:0;float:left;white-space:nowrap}
#simulator .vmeasure{-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform-origin:top right;top:-1px;left:-64px}
#simulator .vmeasure.mini span{right:auto;left:-52px;float:left;white-space:nowrap}
#simulator .guide{background:rgba(0, 0, 0, 0.04);display:none;width:40px;height:40px;border:1px dashed rgba(204, 204, 204, 0.56);position:absolute;left:0;top:0;border-top:0;border-left:0}
#simulator .line{position:relative;text-align:left}
.maxleft{left:0!important}
.controls{float:left;display:inline;width:100%;position:absolute;left:0;top:-42px;height:40px}
.controls .slider-container{float:left}
.action{margin-left:10px;float:left;background:#f3f3f3 url('../images/rules.svg') no-repeat center;color:#b5b5b5;text-indent:-9999px;width:40px;height:34px;background-size:80%;}
.action:focus{outline:0}
#centerSurface{background-image:url('../images/center.svg')}
.navMove a{cursor:pointer;display:none;position:absolute;left:0;top:0;width:50px;height:50px;background:url('../images/arrows.png') no-repeat center top;text-indent:-9999px}
.draggable .navMove a{display:inline}
.navMove a.item_01{left:50%;height:20px;margin-left:-25px}
.navMove a.item_02{top:50%;width:20px;margin-top:-25px;left:auto;right:-28px;background-position:right center}
.navMove a.item_03{left:50%;height:20px;margin-left:-25px;top:auto;bottom:0;background-position:center bottom}
.navMove a.item_04{top:50%;width:20px;margin-top:-25px;left:-28px;background-position:left center}
.navMove a.disable{cursor:default;opacity:0.2}
.group{float:left;display:none;width:0;height:0;position:absolute;left:0;top:0}
.group::before{display:none;content:attr(data-width);position:absolute;bottom:-40px;font-size:12px;background:url(../images/line.gif) repeat-x 0 4px, url(../images/line.gif) repeat-y top left, url(../images/line.gif) repeat-y top right;width:100%;text-align:center;padding-top:6px}
.group.mini::before{font-size:6px;line-height:90%}
.directions{overflow:hidden;margin-right:20px;background:#dcdcdc;width:60px;height:60px;position:relative;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);float:left;top:-25px;}
.directions a{text-indent:-9999px;position:absolute;top:-30px;left:-30px;width:60px;height:60px;background-image:url('../images/direArrows.gif');background-repeat:no-repeat;background-position:0 0}
.directions a[data-start="1"]{top:auto;bottom:-30px;left:auto;right:-30px;background-position:right bottom}
.directions a[data-start="2"]{top:auto;bottom:-30px;background-position:0 bottom}
.directions a[data-start="3"]{}
.directions a[data-start="4"]{left:auto;right:-30px;background-position:right top}
.directions a.active{color:#fff;pointer-events:none;cursor:default;background-color:#000}
.directions.disabled a{pointer-events:none;cursor:default;color:#afafaf}
.directions.disabled a.active{background-color:#676767;color:#fff}
#simulator .group .measureY{display:none!important;top:0;right:-40px;left:auto;width:16px;height:100%;background:url(../images/line.gif) repeat-x top, url(../images/line.gif) repeat-y 3px, url(../images/line.gif) repeat-x bottom;position:absolute}
#simulator .group .measureY::before{content:attr(data-height);font-size:12px;width:70px;top:50%;left:-61px;position:absolute;-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform-origin:top right;margin-top:-35px;text-align:center}
.addCorner.disabled{pointer-events:none;cursor:default;opacity:0.4}
.isSurface{display:none}
#page_simulator input.measure{width:56px;float:right;font-size:11px;border:1px solid #dfdfdf;padding:6px;background:#ffffff}
ul.prods{float:left;display:inline;width:100%;text-align:center;margin-top:12px}
ul.prods li{display:inline-block}
ul.prods li a{width:68px;height:68px;display:inline-block;margin-bottom:5px;border:1px solid #929292;font-size:11px;color:#797979}
.selectList{color:#585858;padding:5px;float:left;display:inline;height:36px;border-radius:0;width:100%;font-size:14px;background:#fff}
p.errorMsg{position:absolute;left:15%;top:-16px;width:70%;text-align:center;font-size:14px;color:red;display:none}
.fixError #simulator{border-color:red}
.fixError p.errorMsg{display:inline}
.fixError #simulatorBtn{pointer-events:none;cursor:default;opacity:0.4}
#page_simulator .btnActionWrap{bottom:-54px}
#itemList{margin-top:20px}
.btnWrap{float:right;}
.showMeasure #toggleMeasure{background-color:#2f2f2f;border-color:#2f2f2f;background-image:url('../images/rulesW.svg')}
.showMeasure #simulator .guide{display:inline}
.showMeasure .surface{background:url('../images/grid.gif') repeat 0 0}
.showMeasure #simulator .legend{display:inline}
.showMeasure .wrap.top_conection{border-top:3px solid #03a9f4;}
.showMeasure .wrap.left_conection{border-left:3px solid #03a9f4;}
.showMeasure .wrap.right_conection{border-right:3px solid #03a9f4;}
.showMeasure .wrap.bottom_conection{border-bottom:3px solid #03a9f4;}
.showMeasure .group::before, .showMeasure .group{display:inline}
.showMeasure #simulator .group .measureY{display:inline!important;}
.showMeasure a.addProd{display:inline}
/* END SIMULATOR */

/* PRODUCTOS */
a.addProd{position:absolute;z-index:10;top:0;left:0;width:13px;height:13px;margin:-6.5px 0 0 -6.5px;background:url('../images/more.svg') no-repeat 0 0;float:left;display:none;text-indent:-9999px}
.prodItem{float:left;display:inline;background:url(../images/briteline.svg) no-repeat 0 0;background-size:822px;position:relative;position:absolute;left:0;top:0}
.prodItem::before{content:attr(data-label);text-align:center;width:100%;float:left;font-size:11px;position:relative;bottom:-17px}
.vertical::before{top:50%;left:2px;height:14px;margin-top:-7px;-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform-origin:top right}
.editItem .prodItem.deletable{opacity:0.3}
.editItem .prodItem.active{opacity:1;z-index:9}

	/* BRIGHT LINE */
	.brightline ul.prods li.typeC a{margin:4px 3px;width:76px;height:76px}
	.brightline ul.prods li.typeS a{width:50px;height:50px;margin-bottom:20px}
	.brightline ul.prods li a::before{width:40px;height:17px;content:"";background:url(../images/briteline.svg) no-repeat center top;display:block;margin:19px auto 14px;background-size:822px}
	.brightline ul.prods[data-dir="v"] li.typeL a::before{width:17px;height:35px;margin:8px auto 4px;border:0;background-position:left}
	.brightline ul.prods li.typeC a::before{width:40px;height:40px;border:0;background-position:0 0;margin:13px auto 3px;background-size:680px}
	.brightline ul.prods li.item_07 a::before{background-position:top right}
	.brightline ul.prods li.item_08 a::before{background-position:bottom left}
	.brightline ul.prods li.item_09 a::before{background-position:bottom right}
	.brightline ul.prods li.item_10 a::before{background-position:center left;width:17px;height:27px;margin:10px auto 10px;border-top:3px solid #03a9f4}
	.brightline ul.prods li.item_11 a::before{background-position:top center;width:27px;height:17px;margin:17px auto 16px;border-right:3px solid #03a9f4;}
	.brightline ul.prods li.item_12 a::before{background-position:center left;width:17px;height:27px;margin:10px auto 10px;border-bottom:3px solid #03a9f4}
	.brightline ul.prods li.item_13 a::before{background-position:bottom center;width:27px;height:17px;margin:17px auto 16px;border-left:3px solid #03a9f4;}
	.brightline ul li.item_10 a.disabled, .brightline ul li.item_11 a.disabled, .brightline ul li.item_12 a.disabled, .brightline ul li.item_13 a.disabled{pointer-events:none;cursor:default;opacity:0.4}
	.brightline .cornerS{height:93px;width:93px;border:3px solid #03a9f4;}
	.brightline .s1{background-position:left center;width:17px;border-width:0;border-top-width:3px}
	.brightline .s2{background-position:center top;height:17px;border-width:0;border-right-width:3px}
	.brightline .s3{background-position:right center;width:17px;border-width:0;border-bottom-width:3px}
	.brightline .s4{background-position:center bottom;height:17px;border-width:0;border-left-width:3px}
	.brightline .corner{height:111px;width:111px}
	.brightline .c2{background-position:right top}
	.brightline .c3{background-position:right bottom}
	.brightline .c4{background-position:left bottom}
	.brightline .c3::before, .c4::before{top:111px}
	.brightline .straight{display:inline-block;height:17px;background-position:-111px 0px;border-right:1px solid #bdbdbd}
	.brightline .l250{width:49px}
	.brightline .l500{width:99px}
	.brightline .l1000{width:199px}
	.brightline .l2000{width:399px}
	.brightline .l3000{width:599px}
	.brightline .straight.vertical{width:17px;background-position:0px -111px;border-right:0;border-bottom:1px solid #bdbdbd}
	.brightline .l250.vertical{height:49px}
	.brightline .l500.vertical{height:99px}
	.brightline .l1000.vertical{height:199px}
	.brightline .l2000.vertical{height:399px}
	.brightline .l3000.vertical{height:599px}
	.brightline .editItem .prodItem.deletable{background-image:url('../images/briteline_active.svg')}
	.brightline .editItem .prodItem.active{background-image:url('../images/briteline_active.svg')}
	/* END BRIGHT LINE */

	/* BLACK FOSTER */
	body#blackfoster ul.prods:first-child{margin-bottom: 15px;}
	body#blackfoster ul.prods li a{border:0;width: 210px;margin: 0px 0 6px;height:18px;position: relative;padding-top: 6px;text-align: right}
	body#blackfoster ul.prods li a::before{width:90px;height: 16px;content: "";background: url('../images/blackfoster.svg') repeat-x center top;display: block;position: absolute;left:0;top:6px;/*border-right: 3px solid #bfbfbf;border-left: 3px solid #bfbfbf;*/}
	body#blackfoster ul.prods li.item_01 a::before{width:13px;background-position:-18px}
	body#blackfoster ul.prods li.item_02 a::before{width:19px;}
	body#blackfoster ul.prods li.item_03 a::before{width:32px;}
	body#blackfoster ul.prods li.item_04 a::before{width:66px;background-position:-12px}
	body#blackfoster ul#group_typeG li a::before{background-image:url('../images/blackfosterGap.svg');border:0;width:112px;}
	body#blackfoster ul#group_typeG li.item_06 a::before{width:28px;}
	body#blackfoster ul#group_typeG li.item_07 a::before{width:56px;}
	body#blackfoster ul#group_typeG li.item_08 a::before{width:84px;}
	body#blackfoster .prodItem{height:19.4px;background-image: url('../images/blackfosterH.svg');width: 129.2px;background-size: 100% 104%;background-position: center;border: 0;background-color: #e3e2e2;}
	body#blackfoster .l431{width:86.1px;background-size:150% 104%;background-position-x:-9px}
	body#blackfoster .l216{width:43.2px;background-size:300% 104%}
	body#blackfoster .l130{width:26px;background-size:500% 104%;}
	body#blackfoster .l87{width:17.4px;background-size:740% 104%;background-position-x:-9px}
	body#blackfoster .vertical{height:129.2px;background-image: url('../images/blackfosterV.svg');width:19.4px;background-size:104% 100%;}
	body#blackfoster .vertical.l431{height:86.1px;background-size:104% 150%;background-position:center -9px}
	body#blackfoster .vertical.l216{height:43.2px;background-size:104% 300%}
	body#blackfoster .vertical.l130{height:26px;background-size:104% 500%;}
	body#blackfoster .vertical.l87{height:17.4px;background-size:104% 740%;background-position:center -9px}
	body#blackfoster .gap{background-image:url('../images/blackfosterGH.svg');width:400px;height:19.4px;}
	body#blackfoster .g1000{width:200px;background-size:200% 104%}
	body#blackfoster .g500{width:100px;background-size:400% 104%}
	body#blackfoster .g250{width:50px;background-size:800% 104%}
	body#blackfoster .gap.vertical{background-image:url('../images/blackfosterGV.svg');width:19.4px;height:400px;}
	body#blackfoster .vertical.g1000{height:200px;background-size:104% 200%}
	body#blackfoster .vertical.g500{height:100px;background-size:104% 400%}
	body#blackfoster .vertical.g250{height:50px;background-size:104% 800%}
	body#blackfoster .prodItem::before{bottom:-20px}
	body#blackfoster .editItem .prodItem.deletable{background-image:url('../images/blackfosterH_active.svg')}
	body#blackfoster .editItem .prodItem.active{background-image:url('../images/blackfosterH_active.svg')}
	body#blackfoster .editItem .vertical.deletable{background-image:url('../images/blackfosterV_active.svg')}
	body#blackfoster .editItem .vertical.active{background-image:url('../images/blackfosterV_active.svg')}
	body#blackfoster .editItem .gap.deletable{background-image:url('../images/blackfosterGH_active.svg')}
	body#blackfoster .editItem .gap.active{background-image:url('../images/blackfosterGH_active.svg')}
	body#blackfoster .editItem .gapvertical.deletable{background-image:url('../images/blackfosterGV_active.svg')}
	body#blackfoster .editItem .gapvertical.active{background-image:url('../images/blackfosterGV_active.svg')}
	/* END BLACK FOSTER */

	/* FIFTY */
	body#fifty ul.prods:first-child{margin-bottom: 15px;}
	body#fifty ul.prods li a{border:0;width: 210px;margin: 0px 0 6px;height:18px;position: relative;padding-top: 6px;text-align: right}
	body#fifty ul.prods li a::before{width:90px;height: 16px;content: "";background: url('../images/fifty.svg') repeat-x center top;display: block;position: absolute;left:0;top:6px;}
	body#fifty ul.prods li.item_01 a::before{width:45px;background-position:-18px}
	body#fifty ul.prods li.item_02 a::before{width:60px;}
	body#fifty ul.prods li.item_03 a::before{width:75px;}
	body#fifty ul.prods li.item_04 a::before{width:150px;background-position:-12px}
	body#fifty .prodItem{height:14.4px;background-image: url('../images/blackfosterGH.svg');width:573.6px;background-size: 100% 104%;background-position: center;border: 0;background-color: #e3e2e2; background-repeat:repeat-x;}
	/* END FIFTY */

/* END PRODUCTOS */